.dashboard-container .nav-link {
    font-size: 1rem;
    padding: 10px;
}
.dashboard-container .nav-link:hover {
    background-color: #495057;
    border-radius: 5px;
}

.nav-link.active {
    background-color: #007bff; /* Change this to any color you'd like */
    color: #fff; /* Adjust text color if needed */
    font-weight: bold; /* Optional: makes the text bold */
}
